<table class="table">
  <td>
    <h3>Listagem de Treinos</h3>
  </td>
  <td width='5%'>
    <%= link_to new_training_path, role: 'button' do %>
      <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
    <% end %>    
  </td>
</table>
 
<table class="table">
  <thead>
    <th>Data Início</th>
		<th> Dia da Semana</th>
    <th>Aluno</th>
    <th>Descrição</th>
    <th colspan="3" width="5%"></th>
  </thead>
  <% @trainings.each do |t| %>
    <tr>
      <td><%= l t.date_start unless t.date_start.nil? %></td>
			<td> <%= t.week_day_humanize %></td>
      
      <td><%= t.student %></td>
      <td><%= t.name%></td>
       <td>
          <%= link_to edit_training_path(t), role: 'button' do %>
            <h5 title="Editar"><i class="icon-pencil"></i></h5>
          <% end %>
        </td>
        <td>
          <%= link_to t, method: :delete, data:{confirm: 'Confirma exclusão ?'}, role: 'button' do %>
            <h5 title="Apagar"><i class="icon-trash"></i></h5>
          <% end %>              
        </td>
        <td>
          <%= link_to t, role: 'button' do %>
            <h5 title="Informações"><i class="icon-info"></i></h5>
          <% end %>
        </td>
  
     </tr>
  <% end %>
</table>