<p>
  <strong>Aluno:</strong>
  <%= @training.student %>
</p>

<p>
  <strong>Nome do Treino:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Período de validace:</strong>
  <%= l @training.date_start %> à   <%= l @training.date_end %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= @training.description %>
</p>
<fieldset>
  <legend>Exercícios</legend>
    <% @training.exercise_trainings.each do |t| %>
      <strong>Exercício: </strong> <%= t %> <strong>N° Repetições:</strong> <%= t.repetitions%><hr>
    <% end %>
</fieldset>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
