<fieldset>
<legend> Objetivo relacionado a atividade física </legend>
   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_AumentoMassa, input_html: {  } %>
      </div>
  </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_MelhoraAerobico, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_Saude, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_Fortalecimento, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_Condicionamento, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_PerdaPeso , input_html: {  } %>
      </div>
   </div>   
<hr>
</fieldset>

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_praticaAtividade, input_html: {  } %>
   </div>
</div>   
<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_Atividade, input_html: { class: 'span4' } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span3"> 
      <%= f.input :Amn_Frequencia, input_html: {  class: 'span2'} %> 
      Vezes
   </div>
</div>   

<fieldset>
<legend> Dores na Coluna? </legend>

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_DorDorsal, input_html: {  } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_DorLombar, input_html: {  } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_DorCervical, input_html: {  } %>
   </div>
</div>   
<hr>
</fieldset>

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_Limitacao, input_html: {  } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_Dor, input_html: { class: 'span4' } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_Cirurgia, input_html: { class: 'span4' } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_Medicamento, input_html: { class:'span4' } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_problemaSaude, input_html: { class: 'span4' } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_FrequenciaRepouso, input_html: { class: 'span4' } %>
   </div>
</div>   

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_PressaoRepouso, input_html: { class: 'span4' } %>
   </div>
</div>   

<fieldset>
<legend> Questionario PAR Q </legend>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_ProblemaCardiado, input_html: {  } %>
      </div>
   </div> <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_DorPeito, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_DorPeitoUltimoMes, input_html: {  } %>
     </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_Desmaio, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_ProblemaOsseo, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_MedicamentoPressao, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :Amn_impedimento, input_html: {  } %>
      </div>
   </div> <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <strong> ATENÇÃO:Se você respondeu SIM em alguma das questões, FALE COM O SEU MÉDICO, pelo telefone ou pessoalmente, antes de iniciar qualquer programa de atividade física/avaliação física. Enumere quais as questões que você respondde afirmativamente. </strong>
      </div>

   </div> 


<hr>
</fieldset>

<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :Amn_Observacoes, as: :text, input_html: { class:'span6', rows:4, cols: 50} %>
   </div>
</div>   
