<blockquote>
   <fieldset>
   <legend> Objetivo relacionado a atividade física </legend>
      <div class="row-fluid"> 
         <div class="span6"> 
            <%= f.input :amn_aumentomassa, input_html: {  } %>
         </div>
     </div>   

      <div class="row-fluid"> 
         <div class="span6"> 
            <%= f.input :amn_melhoraaerobico, input_html: {  } %>
         </div>
      </div>   

      <div class="row-fluid"> 
         <div class="span6"> 
            <%= f.input :amn_saude, input_html: {  } %>
         </div>
      </div>   

      <div class="row-fluid"> 
         <div class="span6"> 
            <%= f.input :amn_fortalecimento, input_html: {  } %>
         </div>
      </div>   

      <div class="row-fluid"> 
         <div class="span6"> 
            <%= f.input :amn_condicionamento, input_html: {  } %>
         </div>
      </div>   

      <div class="row-fluid"> 
         <div class="span6"> 
            <%= f.input :amn_perdapeso , input_html: {  } %>
         </div>
      </div>   
   <hr>
   </fieldset>
</blockquote>

<blockquote>
   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_praticaatividade, input_html: {  } %>
      </div>
   </div>   
   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_atividade, input_html: { class: 'span4' } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span3"> 
         <%= f.input :amn_frequencia, input_html: {  class: 'span2'} %> 
       
      </div>
   </div>   
</blockquote>

<blockquote>
   <fieldset>
   <legend> Dores na Coluna? </legend>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_dordorsal, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_dorlombar, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_dorcervical, input_html: {  } %>
      </div>
   </div>   
   <hr>
   </fieldset>
</blockquote>

<blockquote>
   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_limitacao, input_html: {  } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_dor, input_html: { class: 'span4' } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_cirurgia, input_html: { class: 'span4' } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_medicamento, input_html: { class:'span4' } %>
      </div>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_problemasaude, input_html: { class: 'span4' } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_frequenciarepouso, input_html: { class: 'span4' } %>
      </div>
   </div>   

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_pressaorepouso, input_html: { class: 'span4' } %>
      </div>
   </div>   
   </div>   
</blockquote>

<blockquote>
<fieldset>
<legend> Questionario PAR Q </legend>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_problemacardiado, input_html: {  } %>
      </div>
   </div> <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_dorpeito, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_dorpeitoultimomes, input_html: {  } %>
     </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_desmaio, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_problemaosseo, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_medicamentopressao, input_html: {  } %>
      </div>
   </div>   <br/>

   <div class="row-fluid"> 
      <div class="span6"> 
         <%= f.input :amn_impedimento, input_html: {  } %>
      </div>
   </div> <br/>

      <div class="alert alert-danger" role="alert"><strong>
         ATENÇÃO: Se você respondeu SIM em alguma das questões, FALE COM O SEU MÉDICO, pelo telefone ou pessoalmente, antes de iniciar qualquer programa de atividade física/avaliação física. Enumere quais as questões que você respondde afirmativamente.
       </strong>  
      </div>   
<hr>
</fieldset>
<div class="row-fluid"> 
   <div class="span6"> 
      <%= f.input :amn_observacoes, as: :text, input_html: { class:'span6', rows:4, cols: 50} %>
   </div>
</div>   
</blockquote>


