<table  class="table table-bordered"> 
   <tr>
      <td width="50%">
         <fieldset>
            <legend> Visão Lateral </legend>
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :anterversao_de_quadril, input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :hiperlordose_cervical, input_html: {  } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :retroversao_de_quadril, input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :hiperlordose_lombar, input_html: {  } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :rotacao_interna_ombros, input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :hipercifose_toracica, input_html: {  } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :retificacao_cervical,  input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :pe_plano,  input_html: {  } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :retificacao_lombar, input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :pe_cavo,  input_html: {  } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :protusao_abdominal , input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :pe_calcaneo,  input_html: {  } %>
                  </div>
               </div>   

               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :pe_equino , input_html: {  } %>
                  </div>
                  <div class="span6"> 
                    <%= f.input :genu_flexo,  input_html: {  } %>
                  </div>
               </div>   

               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :genu_recurvado , input_html: {  } %>
                  </div>
               </div>   
         </fieldset>    
      </td>

      <td width="50%">
         <fieldset>
            <legend> Visão Posterior </legend>
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :escoliose_cervical, input_html: {  } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :escoliose_lombar,    input_html: {  } %>
                  </div>
               </div>                  
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :retracao_escapular,   input_html: {  } %>
                  </div>
               </div>                                 
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :pe_vago,    input_html: {  } %>
                  </div>
               </div>                                                
               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :escoliose_toracica,  input_html: {  } %>
                  </div>
               </div>                                                

               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :protacao_escapular,  input_html: {  } %>
                  </div>

               </div>                                                

               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :depressao_escapular,  input_html: {  } %>
                  </div>
               </div>                                                

               <div class="row-fluid"> 
                  <div class="span6"> 
                    <%= f.input :pe_varo,   input_html: {  } %>
                  </div>
               </div>                                                
         </fieldset>    
      </td>
  </tr> 
</table>
<table  class="table table-bordered"> 
  <tr>
     <td width="50%">
         <fieldset>
            <legend> Visão Traseira </legend>
            <div class="row-fluid"> 
               <div class="span6"> 
                  <%= f.input :genu_valgo,  input_html: {  } %>
               </div>
               <div class="span6"> 
                  <%= f.input :genu_varo,  input_html: {  } %>
               </div>
            </div>                                                
            <div class="row-fluid">
               <div class="span6"> 
                  <%= f.input :pe_aduto,  input_html: {  } %>
               </div>
               <div class="span6"> 
                  <%= f.input :pe_abduto,  input_html: {  } %>
               </div>
            </div>
         </fieldset>    
      </td>
  </tr>
</table>
        
           
                             
                    
   
                    
          
          
         
                     
                     
     