<table  class="table table-bordered"> 
   <tr>
      <td width="50%">
            <fieldset>
               <legend> Selecione o Protocolo </legend>
               <div class="row-fluid"> 
               <div class="span6"> 
               <%= f.input :ccorp_jackson7, input_html: {  } %>
               </div>
               </div>   

               <div class="row-fluid"> 
               <div class="span6"> 
               <%= f.input :ccorp_jackson3, input_html: {} %>
               </div>
               </div>   
               <div class="row-fluid"> 
               <div class="span6"> 
               <%= f.input :jackson_e_pollock_5_dobras, input_html: {} %>
               </div>
               </div>   

               <div class="row-fluid"> 
               <div class="span6"> 
               <%= f.input :ccorp_guedes, input_html: {  } %>
               </div>
               </div>   
               <div class="row-fluid"> 
               <div class="span6"> 
               <%= f.input :ccorp_bioimpedancia, input_html: {  } %>
               </div>
               </div>   
            </fieldset>    
      </td>
      <td>
            <fieldset>
               <legend> Medidas </legend>
               <div class="row-fluid"> 
                  <div class="span6"> 
                  <%= f.input :ccorp_peso, as: :string, input_html: { class: 'span4 float_peso' } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span6"> 
                  <%= f.input :ccorp_altura, as: :string, input_html: { class: 'span3 float_altura' } %>
                  </div>
               </div>   
            </fieldset>
       </td>
   </tr>
   <tr>
      <td>
            <fieldset>
               <legend> Dobras Cutâneas </legend>
               <div class="row-fluid"> 
                  <div class="span4"> 
                     <%= f.input :ccorp_subescapular, as: :string, input_html: { class: 'span3 ' } %>
                  </div>
                  
                  <div class="span4"> 
                     <%= f.input :ccorp_abdominal, as: :string, input_html: { class: 'span3' } %>
                  </div>
                  
                  <div class="span4"> 
                     <%= f.input :ccorp_tricipital, as: :string, input_html: { class: 'span3' } %>
                  </div>
               </div>
               <div class="row-fluid"> 
                  <div class="span4"> 
                     <%= f.input :ccorp_coxa, as: :string, input_html: { class: 'span3' } %>
                  </div>
               
                  <div class="span4"> 
                     <%= f.input :ccorp_peitoral, as: :string, input_html: { class: 'span3' } %>
                  </div>
               
                  <div class="span4"> 
                     <%= f.input :ccorp_supraIliaca, as: :string, input_html: { class: 'span3' } %>
                  </div>
               </div>   
               <div class="row-fluid"> 
                  <div class="span4"> 
                     <%= f.input :ccorp_axilarmedia, as: :string, input_html: { class: 'span3' } %>
                  </div>
               </div>   
           </fieldset>
      	</td>
      <td>
            <fieldset>
               <legend> Meta </legend>
               <div class="row-fluid"> 
                  <div class="span4"> 
                     <%= f.input :ccorp_gordura , as: :string, input_html: { class: 'span3' } %>
                  </div> 
               </div>   
            </fieldset>
      </td>
   </tr>
</table>