<table class="table">
  <td><h3>Listagem de Avaliações</h3></td>
  <td width='5%'>
    <%= link_to new_evaluation_path, role: 'button' do %>
      <h2 class="text-success" title='Nova Avaliação'><i class="icon-plus"></i></h2>
    <% end %>    
  </td>
</table>
<table class="table">
  <thead>
    <tr>
      <th width= "5%">Data Avaliação</th>
			<th width= "5%">Data Vencimento</th>
			<th>Aluno</th>      
      <th>Avaliador</th>
      <th colspan="3" width="5%"></th>
    </tr>
  </thead>
<tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= l evaluation.evaluation_date %></td>
        <td><%= l evaluation.end_date %></td>      
        <td><%= evaluation.student %></td>
				<td><%= evaluation.evaluator %></td>	     	
				<td>
           <%= link_to edit_evaluation_path(evaluation), role: 'button' do %>
            <h5 title="Editar"><i class="icon-pencil"></i></h5>
          <% end %>
        </td>
        <td>
          <%= link_to evaluation, method: :delete, data:{confirm: 'Confirma exclusão ?'}, role: 'button' do %>
            <h5 title="Apagar"><i class="icon-trash"></i></h5>
          <% end %>              
        </td>
        <td>
          <%= link_to evaluation, role: 'button' do %>
            <h5 title="Informações"><i class="icon-info"></i></h5>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>