<p>
  <strong>Aluno:</strong>
  <%= @evaluation.student %>
</p>

<p>
  <strong>Avaliador:</strong>
  <%= @evaluation.evaluator %>
</p>

<p>
  <strong>Data:</strong>
  <%= l @evaluation.evaluation_date %>
</p>

<p>
  <strong>Data de Vencimento:</strong>
  <%= l @evaluation.end_date %>
</p>
<p>
	<strong>IMC: </strong> <%= imc =  @evaluation.imc %>
</p>
<% classification =  @evaluation.classification_imc %>

<% if classification == "Obsidade mórbida" %>
	<p class="text-error">
		<strong> Classificação IMC: </strong>
		<%= classification %>
	</p>	
<% end %>

<% if classification == "Obsidade moderada" %>
	<p class="text-error">
		<strong> Classificação IMC: </strong>
		<%= classification %>
	</p>	
<% end %>

<% if classification == "Obesidade leve" %>
	<p class="text-info">
		<strong> Classificação IMC: </strong>
		<%= classification %>
	</p>	
<% end %>

<% if classification == "Normal" %>
	<p class="text-success">
		<strong> Classificação IMC: </strong>
		<%= classification %>
	</p>	
<% end %>

<% if classification == "Abaixo do normal" %>
	<p class="text-error">
		<strong> Classificação IMC: </strong>
		<%= classification %>
	</p>	
<% end %>
<table class='table'>
	<tr>
		<td align="center">
			<%= image_tag @evaluation.front_photo_url, width: '150' %><br>
			<b>Foto Frente</b>
		</td>
		<td align="center">
			<%= image_tag @evaluation.front_contracted_photo_url, width: '150' %><br>
			<b>Foto frente contraido</b>
		</td>
		<td align="center">
			<%= image_tag @evaluation.side_photo_url, width: '150' %><br>
			<b>Foto de lado </b>
		</td>
		<td align="center">
			<%= image_tag @evaluation.back_photo_url, width: '150' %>	<br>	
			<b>foto de costa</b>
		</td>
	</tr>
</table> 

<p class="form-actions" >
   <%= link_to 'Editar', edit_evaluation_path(@evaluation), class: "btn btn-primary"  %> 
   <%= link_to 'Voltar', evaluations_path, class: "btn"  %>
</p>