<%= simple_form_for(@evaluator) do |f| %>
  <div class="row-fluid">
    <div class="span6"><%= f.input :name, input_html: { class: 'span12', set_focus: true } %></div>
  </div>
  <div class="row-fluid"> 
    <div class="span6"><%= f.input :email, input_html: { class: 'span12'}%></div>
  </div>
   <div class="row-fluid"> 
    <div class="span6"><%= f.input :cpf, input_html: { class: 'span5 cpf'}%></div>
  </div>
  <div class="row-fluid">
    <div class="span3"><%= f.input :phone, input_html: { class: 'span12 phone' } %></div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
    <%= link_to 'Voltar', evaluators_path, :class => "btn"  %>
  </div>
<%end%>