<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @evaluator.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @evaluator.email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @evaluator.cpf %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @evaluator.phone %>
</p>

<%= link_to 'Edit', edit_evaluator_path(@evaluator) %> |
<%= link_to 'Back', evaluators_path %>
