<div class="row-fluid">
  <div class="span6"><%= f.input :name, input_html: { class: 'span12' } %></div>
</div>
<div class="row-fluid"> 
   <div class="span4">
     <%= f.input :birth_date, as: :string, input_html: {data: {provide:'datepicker' }, class:'span4 date'} %>
  </div>
</div>
<br>
<div class="row-fluid"> 
  <div class="span6"><%= f.input :email, input_html: { class: 'span12'}%></div>
</div>
<div class="row-fluid">
  <div class="span3"><%= f.input :phone, input_html: { class: 'span12 phone' } %></div>
  <div class="span3"><%= f.input :cell_phone, input_html: { class: 'span12 cel_phone' } %></div>
</div>
