<table class="table">
  <td>
    <h3>Listagem de Alunos</h3>
  </td>
  <td width='5%'>
    <%= link_to new_student_path, role: 'button' do %>
      <h2 class="text-success" title='Novo Aluno'><i class="icon-plus"></i></h2>
    <% end %>    
  </td>
</table>

<%= label_tag 'txtBusca', 'Pesquisar' %>
<%= text_field_tag 'txtBusca', '', :class => 'span11 input-search', :id => 'txtBusca',:placeholder => "Buscar nesta lista", :alt =>"list_students" %>


<table class="table list_students">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Endereço</th>
      <th>Telefones</th>
      <th colspan="3" width="5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.sorted.each do |student| %>
      <tr>
        <td><%= student %></td>
        <td><%= student.age_string%></td>
        <td><%= student.address %></td>
        <td><%= student.phones%></td>
        <td>
          <%= link_to edit_student_path(student), role: 'button' do %>
            <h5 title="Editar"><i class="icon-pencil"></i></h5>
          <% end %>
        </td>
        <td>
          <%= link_to student, method: :delete, data:{confirm: 'Confirma exclusão ?'}, role: 'button' do %>
            <h5 title="Apagar"><i class="icon-trash"></i></h5>
          <% end %>              
        </td>
        <td>
          <%= link_to student, role: 'button' do %>
            <h5 title="Informações"><i class="icon-info"></i></h5>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
