<h3 align="center"> Ficha do Aluno</h3>
<fieldset>
  <legend>Geral</legend>
  <p>
    <strong>Nome:</strong>
    <%= @student.name %><br>
    <strong>Data de Nascimento:</strong> <%= l @student.birth_date%>
  </p>
</fieldset>

<fieldset>
  <legend>Endereço</legend>
  <%= @student.address%>
</fieldset>

<fieldset>
  <legend>Contatos</legend>
  <p>
    <strong>Email:</strong>
    <%= @student.email %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= @student.phone %>
  </p>
  <p>
    <strong>Celular:</strong>
    <%= @student.cell_phone %>
  </p>
  <p>
    <strong>Idade: </strong><%= @student.age[:ano]%>
  </p>
</fieldset>
<h4 align="center">Treinos</h4>
<%= render "trainings"%>

<% unless current_user.student?%>
	<br>
	<div class="form-action">
	  <%= link_to 'Editar', edit_student_path(@student), class: 'btn btn-primary' %>
	  <%= link_to 'Voltar', students_path, class: :btn %>
	</div>
<% end %>
