

<table class="table">
  <td><h3>Listagem de exercícios</h3></td>
  <td width='5%'>
    <%= link_to new_exercise_path, role: 'button' do %>
      <h2 class="text-success" title='Novo Exercício'><i class="icon-plus"></i></h2>
    <% end %>    
  </td>
</table>
<table class='table'>
  <thead>
    <tr>
      <th width="50%" >Nome</th>
      <th>Descrição</th>
      <th colspan="3" width="5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.sorted.each do |exercise| %>
      <tr>
        <td>
					<%= exercise.name %><br>
					<strong>Grupo Muscular:</strong> <%= exercise.grupo_muscular%><br>
					<strong>Músculo:</strong> <%= exercise.musculo%>					
				</td>
        <td><%= exercise.description %></td>

        <td>
          <%= link_to edit_exercise_path(exercise), role: 'button' do %>
            <h5 title="Editar"><i class="icon-pencil"></i></h5>
          <% end %>
        </td>
        <td>
          <%= link_to exercise, method: :delete, data:{confirm: 'Confirma exclusão ?'}, role: 'button' do %>
            <h5 title="Apagar"><i class="icon-trash"></i></h5>
          <% end %>              
        </td>
        <td>
          <%= link_to exercise, role: 'button' do %>
            <h5 title="Informações"><i class="icon-info"></i></h5>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>