<h3>Listagem de exercícios</h3>

<table class='table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th width='20%'></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.description %></td>
        <td>
					<%= link_to 'Show', exercise, class: 'btn btn-info' %>
        	<%= link_to 'Edit', edit_exercise_path(exercise), class: 'btn btn-primary' %>
        	<%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Confirma exclusão?' }, class: 'btn btn-danger' %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Exercicio', new_exercise_path, class: :btn %>
