<ul class="nav nav-pills">
  <li role="presentation" class="<% if  params[:controller] == "dashboard"%>active<%end%>"><a href="<%= root_path %>"><h4 title="Home"><i class="icon-home"></i></h4></a></li>
  <li role="presentation" class="<% if  params[:controller] == "exercises"%>active<%end%>"><a href="<%= exercises_path%>"><h4 title="Exercícios"><i class="icon-list"></i></h4></a></li>
  <li role="presentation"  class="<% if  params[:controller] == "students"%>active<%end%>"><a href="<%= students_path%>"><h4 title="Alunos"><i class="icon-user"></i></h4></a></li>
	<li role="presentation"  class="<% if  params[:controller] == "evaluators"%>active<%end%>"><a href="<%= evaluators_path%>"><h4 title="Avaliador"><i class="icon-eye-open"></i></h4></a></li>
	<li role="presentation"  class="<% if  params[:controller] == "evaluations"%>active<%end%>"><a href="<%= evaluations_path%>"><h4 title="Avaliação"><i class="icon-list-alt"></i></h4></a></li>
	<li role="presentation"  class="<% if  params[:controller] == "trainings"%>active<%end%>"><a href="<%= trainings_path%>"><h4 title="Treino" class="text-error"><i class="icon-fire"></i></h4></a></li>
</ul>