<!DOCTYPE html>
<html>
  <head>
 <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<%= render 'layouts/navegation_bar' %>
		<% if current_user.student? %>
			<%= render 'layouts/menu_student'%>
		<% else %>
			<%= render 'layouts/menu'%>		
		<% end %>
		<%= render 'layouts/messages' %>
		<div class="container-fluid">
			<div class="span12" id="content">
				<div class="block row-fluid">
					<div class="block-content collapse in">
						<%= yield %>
					</div>
				</div>	
			</div>
		</div>
		<hr>
  </body>
<%= javascript_include_tag  "application" %>
</html>

